# This is the `yadm` .gitignore for dotfiles

__pycache__
/.config/nvim/.netrwhist

/.config/copyq/copyq_tab_*.dat
/.config/copyq/copyq_filter.ini
/.config/copyq/copyq_geometry.ini
/.config/copyq/copyq_no_session.ini
/.config/copyq/copyq_tabs.ini
